.container-outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container-middle {
    display: table-cell;
    vertical-align: middle;
}

.container-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    width: 100%;
}

a {
    color: #1c78d3;
}