.header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: gray;
}

.logo {
    width: 64px;
    height: 48px;
}

.logo:hover {
    transform: scale(1.3);
    cursor: pointer;
}


/* Change spans to components */
span {
    margin-left: 10px;
}

span:hover {
    transform: scale(1.1);
    cursor: pointer;
}
